<div class="error-container">
    <h1 class="error-title">Our sincerest apologies.</h1>
    <p class="error-message">
        Something went wrong. It might be that one of the fields in the form was left blank.
    </p>
    <p class="error-message-forms">
        Try going back to the form. Make sure every field is completed to your satisfaction and submit the form again.
    </p>
    <a href="javascript:history.back()" class="error-button">return to form</a>
</div>