<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title -->
    <title>{{title}}</title>
    {{!-- Linking Global Navigation Styles. --}}
    <link rel="stylesheet" href="/css/navigation.css">
    <!-- Main styles -->
    <link rel="stylesheet" href="/css/mainstyles.css"> 
    {{!-- JavaScript for Mobile Navigation, defer to allow HTML content to render before executing JS. --}}
    <script src="/javascript/mobile-nav.js" defer></script>
    <!-- Import the ionicons external library so I can pull in their SVG icon data and use them in my document, thanks to iconicons: https://ionic.io/ionicons -->
    <script src="/javascript/mobile-single-topic-nav.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="main-body"> <!-- Main body class for styling -->

    <!-- Header with the mainheader partial -->
    {{> mainpartials/header}}

    <!-- Main content area -->
    <main class="main-content">
      {{{body}}} <!-- Main dynamic content will render here -->
    </main>

    <!-- Include the home page animation script -->


<script src="/javascript/animation/who-uses-twennie.js"></script>
<script src="/javascript/animation/wheel-animation.js"></script>
<script src="/javascript/animation/home-page-latest.js"></script>
<script src="/javascript/animation/what-is-collab.js"></script>
<script src="/javascript/animation/whatistwennie.js"></script>
<script src="/javascript/animation/learning1.js"></script>
<script src="/javascript/animation/learning2.js"></script>
<script src="/javascript/animation/learning3.js"></script>
<script src="/javascript/tagging/tagging.js"></script>
<script src="/javascript/animation/homepagewave.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascript/topics/topic_tabs.js"></script>
    <footer>
      {{> mainpartials/footer}}
    </footer>
</body>
</html>