<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Page title -->
    <title>{{title}}</title>
    {{!-- Linking Global Navigation Styles. --}}
    <link rel="stylesheet" href="/css/navigation.css">
    <!-- Unit View Styles -->
    <link rel="stylesheet" href="/css/unitviewstyles.css"> <!-- Main styles -->
    {{!-- JavaScript for Mobile Navigation, defer to allow HTML content to render before executing JS. --}}
    <script src="/javascript/mobile-nav.js" defer></script>
    <!-- Import the ionicons external library so I can pull in their SVG icon data and use them in my document, thanks to iconicons: https://ionic.io/ionicons -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
</head>
<body class="main-body"> <!-- Main body class for styling -->

    <!-- Header with the mainheader partial -->
    {{> mainpartials/header}}

    <!-- Main content area -->

      {{{body}}} <!-- Main dynamic content will render here -->



<script src="/javascript/tagging/tagging.js"></script>
<script src="/javascript/prompts/registerform.js"></script>
<script src="/javascript/prompts/assignform.js"></script>
<script src="/javascript/prompts/assignformerror.js"></script>
<script src="/javascript/animation/completion.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Include the home page animation script -->
     <footer>
      {{> mainpartials/footer}}
    </footer>

</body>
</html>