<div class="single-topic-subs-grid">
  <div class="subs-item">
    <h3>Shaping the Client's Experience</h3>
    <p>A million versions of experience exist - accordingly, different expectations of what makes a good experience; thus, experience programs are often rendered ineffective and un-measurable because of this basic conflict of perspective. What does it even mean? Take, for example, the annual client appreciation event, both laborious and anticipated as a touchpoint for your clients. Is planning and running that event the responsibility of the Client Experience (“CX”) team? Do you have a CX team? How does it coordinate with other experiences? Do clients feel like your organization delivers a cohesive experience, or is it all over the map?</p>
  </div>
  <div class="subs-item">
    <h3>Client Experience Programming</h3>
    <p> How do you build a program that creates alignment, audits current investments, and measurably transforms operations? Despite all the possible variations and opinions – these are ultimately all human experiences (“HX”) and can be designed with intentionality. In business, it is individual people making decisions about where they work, what they purchase, and who they partner with; therefore, there are evident and common components to building synchronous programs across your organization.
</p>
  </div>
  <div class="subs-item">
    <h3>The Six Elements of Professional Relationships</h3>
    <p>Six “elements” (Insights, Onboarding, Engagement, Communication, Appreciation and Recognition, and Disruptions) are the main categories that make up all professional relationships because while the tactics may change, the main buckets remain consistent. And when companies can compartmentalize critical elements, it makes X both accessible and actionable. </p>
  </div>
    </div>