<div class="single-topic-subs-grid">
  <div class="subs-item">
    <h3>What is Emotional Intelligence(EI)?</h3>
    <p>Emotional intelligence is the ability of a person to recognize how their emotions shape behavior, how to manage those emotions, and how to recognize and empathize with the emotions of others. In technical consulting teams, emotional intelligence of team members is a major factor in successful project completion, which is why it belongs in the Twennie library.</p>
  </div>
  <div class="subs-item">
    <h3>The Personality Trap</h3>
    <p>Personality profiling tells you what you will probably do based on past choices and habits. In reality, the very belief that your personality decides everything you do enslaves you to it. No person has to live with ineffective behaviors because of some arbitrary assessment, whether it involves letters, numbers, colors or humors. Everyone has the power to choose new behaviors. Harnessing this power is the definition of emotional intelligence, and Twennie aims to explore the possibilities further.
</p>
  </div>
  <div class="subs-item">
    <h3>Learning EI</h3>
    <p>Emotional intelligence is learned throughout life, but most of it gets set in stone early, during childhood. That’s why making meaningful changes in how we manage our adult emotional lives requires Herculean effort. It involves changing what we believe and value about ourselves and the rest of the world. Twennie’s goal with this topic is to explore strategies for making genuine changes in how we interact with the world by improving emotional intelligence.</p>
  </div>
    </div>