<div class="single-topic-subs-grid">
<div class="subs-item">
    <h3>Win Themes</h3>
    <p>A win theme is an argument that persuades the client to award the project to your firm. The argument is compelling and recurs in all sections of a proposal in writing and graphically, without seeming redundant. A strong win theme presents an offer that can’t be matched by competitors. It is your value proposition expressed in written form, integrated with the mandatory content of your proposal document. To be effective a win theme must: demonstrate intimate understanding of the client and project, define success factors, show understanding of the desired outcomes, and offer trusted services unique to your organization. Without win themes, a proposal is ineffective.
</p>
  </div>
    <div class="subs-item">
    <h3>Show that You're Paying Attention</h3>
    <p>Your firm will not be credible with a client unless you’re able to show them that you were paying attention when they explained the project. That sounds simple, but you’d be surprised how many clients get proposals with pages and pages of vaguely relevant projects that never mention the project in question, or even the client hiring them to do it. Proposals must present specific solutions to a client’s problems and persuade the evaluators that these solutions are only available by working with you.</p>
  </div>
  <div class="subs-item">
    <h3>Define Success on their Terms</h3>
    <p>Once you know how the client defines success and you’ve demonstrated that you know it, then you can start talking about your qualifications. Your goal is to make your firm the obvious choice, so obvious that they are unable to imagine other firms doing it. If you can’t do that because you lack the qualifications or breadth, you might reconsider submitting on this particular competition. 
</p>
  </div>
  <div class="subs-item">
    <h3>The RFP is Not Enough</h3>
    <p>The RFP only lists official drivers of any purchase decision. These are the criteria the evaluators use while comparing your offer to those of other proponents. At the very least, they must demonstrate that they adhered to these official measures to some extent. In reality, these represent only a small part of what influences the decision. Each evaluator brings biases for or against proponents. You can think of decision drivers as an iceberg. Official drivers are what you see above the water line. But the strongest influence comes from below the water line, with what you don’t see. These are a mix of rational and emotional drivers that determine how evaluators will receive and interpret your offer. Twennie aims to equip services teams to identify these drivers and answer them in proposals.</p>
  </div>
  <div class="subs-item">
    <h3>Evidence of Experience, Interest, and Care</h3>
    <p>Offering services and making pledges of cost savings are fine, but if you can’t demonstrate through tangible evidence that you’re capable of delivering, the proposal won’t have the desired impact. That’s where your relevant experience comes in. Relevant experience represents proof that you have delivered good results in the past and are capable of doing it again. This involves numbers other than the price. Numbers are the only thing that can truly be compared, so your proposal must have lots of them. Quantify problems, clients, solutions, approaches, and effort, as well as results. Become comfortable with this math and make it a language you speak with ease. This will give the evaluators what they need to build a case on your behalf.</p>
  </div>
  <div class="subs-item">
    <h3>Analyze Competitors, Then Figure Out How to Be Better</h3>
    <p>Analyzing competitors is an essential component. Know their strengths and weaknesses. Pay attention during proposal debriefs with clients. Listen when clients talk about competitors. Above all, know your market. Ask the right questions of the right people and keep records of what you learn. Never assume that you do a better job than they do without having tangible evidence that you do. </p>
  </div>
</div>