<div class="single-topic-subs-grid">
<div class="subs-item">
    <h3>A Technical Proposal is Not a Technical Document</h3>
    <p>Technical professionals often write proposals like they write reports, hyper-focussing on technical details. But a proposal is not a technical document. Its purpose is to persuade the client to award you the project, and the client can't do that unless you present an offer that demonstrates your understanding of the project, its stakeholders, and the client beyond the technical details and beyond what your competitors can offer. Your proposal must inspire the client's confidence that you can deliver a technical solution by managing non-technical elements of the work, such as responding to sudden changes, maintaining the schedule, and managing the least technical thing in the world - people.
</p>
  </div>
    <div class="subs-item">
    <h3>A Discipline All its Own</h3>
    <p>Not all services organizations have dedicated proposal management personnel, but they can all adopt at least a few best practices. A proposal is a project in itself, which is why it needs a “project manager.” To distinguish the role in a technical services organization, however, we must call this person the “proposal manager.” A shortage of training opportunities for proposal managers in technical services makes this topic an essential element of Twennie’s library. We aim to fill that gap.</p>
  </div>
  <div class="subs-item">
    <h3>The Non-Technical Professional in a Technical World</h3>
    <p>A dedicated proposal manager is usually not a technical professional. Their work demands project management skills, superior verbal and written communication abilities, savvy with business concepts and marketing, and the general ability to “rally” people over whom they have no formal authority. Assertiveness, leadership, and organization are essential. Twennie devotes a whole topic to this discipline, not only to support technical organizations, but also to provide resources to the people they hire to do this work.
</p>
  </div>
  <div class="subs-item">
    <h3>Managing a Portfolio of Proposals</h3>
    <p>Most organizations submit up to five proposals to a client before they win any work. That’s not an impressive win rate. If retailers only sold 20% of what they produced, they’d be out of business. This metric indicates a flaw in process and strategy across industries, especially since writing competitive proposals is one of the costliest aspects of the business. It behooves every firm to look critically at how they pursue competitive work and what they’ve done that produced wins and losses. But few firms really do that. Rather they learn how to make do with what they’ve got. There is a better way. Twennie aims to close the gap.</p>
  </div>
  <div class="subs-item">
    <h3>Defining Value, Not for You, But for the Client</h3>
    <p>The first step in developing new business through proposals is to ask yourself, what do clients value? In other words, what happens in a project to make this client your biggest fan? How do you deliver this work so that this client walks around with a smile, unable to stop talking about the great project you just delivered? Easy - you do the minimum as scoped in the RFP to keep our price down, because all they care about is the price. Really? Is that it? Doesn’t that amount to the “minimum” also becoming the “maximum?” When you look at it from the client’s perspective, you’ll realize that the minimum is only their first step. Once minimum criteria are confirmed present, the client’s work really begins. That’s why it’s critical to demonstrate value beyond the minimum. All your competitors can deliver on the minimum. It’s those of us who make good on subjective value who stand out.</p>
  </div>
  <div class="subs-item">
    <h3>The Tailored Proposal</h3>
    <p>Developing sharper client focus and understanding the diverse interpretation of value that exists among any client base is an ongoing challenge and a tough concept for learners to fully grasp, then harder still to translate for proposals. One size does not fit all. If clients could buy what they want off a shelf, they wouldn’t post RFPs. They would go to a retail outlet where everything is on shelves and all products are the same. If they’ve spent months (and perhaps years) planning this project and writing the RFP, why would any service provider then give them a proposal taken off a shelf? Twennie aims to provide inspiration for differentiating your offer from the offers of your competitors. </p>
  </div>
</div>