<div class="single-topic-subs-grid">
  <div class="subs-item">
    <h3>The Rude Awakening</h3>
    <p>You went into a technical field because it was comfortable and familiar to you. Then you found out that you had to talk to people, be a leader and mentor, negotiate contracts with difficult clients, write compelling articles and proposals, do presentations, and be generally charming at business cocktail parties. Where and when are you supposed to learn all that when you are under constant pressure to earn the company money and never needed these skills before?</p>
  </div>
  <div class="subs-item">
    <h3>Soft Skills are Learned Differently</h3>
    <p>Can you learn to play the piano by reading a book about playing piano?
    We all know the answer to that. Some skills require you to build muscle memory over time by doing. Anything that involves managing working relationships, negotiation, or communication fall under this definition. These are considered “soft” skills and aren’t learned in a traditional classroom. Colleges and universities are aware of this challenge. They incorporate soft skills material into instruction and exercises, but formal learning institutions are also under pressure to deliver as much technical learning as possible within a short window, so soft skills inevitably play second fiddle. 
</p>
  </div>
  <div class="subs-item">
    <h3>We're a Team</h3>
    <p>If you ask managers, most will tell you that teamwork is the path to success. The same managers might lock everyone away in cubicles and give them the stink eye when they talk to each other. If you think about it, you’ll realize that many established people management practices do the same. Key performance indicators and recognition programs tend to reward individual heroics, undermining the very teamwork organizations are trying to encourage. Teamwork is a skill that can be learned, but only by doing. Exercises can strengthen a team’s ability to work together, and they don’t have to consume enormous blocks of time. Twennie’s goal is to promote strategies that help technical teams work better together.</p>
  </div>
  <div class="subs-item">
    <h3>Introverts Can Learn to Schmooze</h3>
    <p>Introverts can learn to schmooze – but every introvert who hears this phrase cringes. The trouble is that introverts find interacting with others emotionally draining, which makes business development and people management tasks the worst part of their day. Calls to clients are, at best, a chore. By the end of an evening at a conference or networking event, introverted professionals are exhausted. The good news is that the introvert doesn’t necessarily have to learn how to be Mr. Smooth. Rather the introvert must learn how to recharge their mental batteries more frequently and effectively, and how to prevent daily interactions from draining those batteries so quickly. Twennie hopes to gather knowledge about this difficult challenge and bring it to those technical professionals who need it most. </p>
  </div>
  <div class="subs-item">
    <h3>Have you Misinterpreted "Soft Skills"?</h3>
    <p>You might think “soft skills” means you have to become Frank Sinatra or Tony Robbins, hypnotizing everyone with your dazzling oratory and baritone voice, but that is not what makes you a successful business developer or manager. No matter how many times you nail your speech about how great your team is, and how many wonderful projects you’ve completed on time and on budget, you’ll never get anywhere with clients or your employees if that’s all you can do. The most important soft skills are listening, adapting, and improvising, and Twennie aims to teach those skills in ways that make them stick.</p>
  </div>
  <div class="subs-item">
    <h3>Failure Isn't What you Think</h3>
    <p>Failure with a technical design is a really bad thing. That’s why technical professionals have standards, peer review processes, and testing procedures – they want to prevent failure before it happens. But with relationships, we don’t get dress rehearsals. The trouble with technical professionals is that they think of relationship failures the same way they do about technical failures. They assign too much meaning and might even make knee-jerk, sweeping declarations about shortcomings they don’t have. This makes them less inclined to be assertive with clients or to address issues with employees. Twennie aims to bring clarity to this complex topic and equip technical teams with better learning materials, better exercises.</p>
  </div>
</div>