<div class="single-topic-subs-grid">
  <div class="subs-item">
    <h3>Stimulating the Client's Imagination</h3>
    <p>Storytelling helps clients visualize your firm completing their project. It charts a logical course inside their minds and gives form to their vision for successful completion. Business storytelling builds a deeper connection based on emotional drivers of decisions and helps evaluators relate more intimately to the experience. Storytelling makes information easier to remember, and evaluators recognize the elements of a story and have an easier time processing the message</p>
  </div>
  <div class="subs-item">
    <h3>A Story's Moving Parts</h3>
    <p>Through understanding the moving parts of a typical story, we identify characters within a technical design project. We determine the things that threaten success and present our plan to overcome and triumph in the end. The article is based on a set of tools and a game developed for sellers of technical services. Telling the story of a technical project and expressing what is meaningful about the work so a lay audience can appreciate it, is a challenge.
</p>
  </div>
  <div class="subs-item">
    <h3>Dry Writing is in Every Technical Proposal</h3>
    <p>Dry writing can be found in every technical proposal, which is why they generally struggle to sway the evaluators. For the slightest inkling of the real drivers of their decisions, evaluators must comb these proposals in exhaustive detail as they slowly go blind or crazy or both. If you make this process easier, you’ll fare better than the competition.</p>
  </div>
  <div class="subs-item">
    <h3>Learning Not to Shy Away from Moods and Tones</h3>
    <p>The strongest proposal uses a carefully curated mix of moods to tell the story of a successful project. A neutral mood is appropriate while describing tasks and steps. A negative mood is appropriate when creating a sense of understanding of what the client is up against with the project. What keeps them up at night? How urgently do we need a solution? What could happen if they don’t hire the right consultant? A positive mood is appropriate when painting a picture of success. If you’ve established a pattern of more emotional expressions in the earlier sections, words like “triumph,” or “beautiful,” or “magnificent” won’t feel awkward or out-of-place once you describe the final results.</p>
  </div>
  <div class="subs-item">
    <h3>Writing Economically</h3>
    <p> A typical 40 page proposal can be reduced by an average of 3,000 words (8 pages!) without losing any of the meaning, just by editing the writing and removing unnecessary words. When you're dealing with punishing page limits, this skill is essential. Proposal managers in particular must learn this skill. It is not as difficult as it sounds. Learning to edit involves the knowledge that virtually every sentence has a pithier version of itself, and all you have to do is keep playing with it until you find it. </p>
  </div>
  <div class="subs-item">
    <h3>A Good Business Story</h3>
    <p>A good business story contains everything you see in a movie, only with different context. You can use this during a proposal kickoff meeting or a story-boarding session. If you combine this with your win strategy, you will produce a compelling argument to award the project to your firm. It might help to identify this shopping list of items in a story you know well.</p>
  </div>
</div>