

<div class="howtoexercise-video">
  <video width="500" controls poster="/images/exercisevideo.png">
    <source src="/videos/exercise.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
