<div class="interactive-section">
  <div class="interactive-grid animate-on-scroll">
    <div class="centered-image-container">
      <div class="interactive-video-wrapper">
        <video controls poster="https://www.twennie.com/images/whatistwennievideo.png">
          <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1744393461/Promotional2_apzrri.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div class="button-grid">
      <button class="interactive-button">read an article</button>
      <button class="interactive-button">watch a video</button>
      <button class="interactive-button">analyze a study</button>
      <button class="interactive-button">hear an interview</button>
      <button class="interactive-button">try a prompt</button>
      <button class="interactive-button">meet a coach</button>
      <button class="interactive-button">review a template</button>
      <button class="interactive-button">get a testimonial</button>
      <button class="interactive-button">test a micro-course</button>
    </div>
  </div>
</div>
