<div class="value-single-contributor-container">
  <div class="value-single-contributor-grid">
    <!-- Left Grid Area -->
<div class="value-single-contributor-left">
  <img src="https://www.twennie.com/images/valuemembership.png" alt="Contributor Membership Image" class="membership-image">
  <a href="/member/choose" class="value-single-contributor-button" style="text-decoration: none">become a contributing member</a>
</div>

    

    <!-- Right Grid Area -->
    <div class="value-single-contributor-right">
      <div class="value-single-contributor-title">The Value of a Contributor Membership</div>
      <p class="value-single-contributor-paragraph">
        Business development, networking, mentoring, negotiation, leadership, emotional intelligence, and team building skills are essential to your work as a technical professional or as a non-technical professional in a technical environment.
      </p>
      <div class="value-single-contributor-highlights">
        <p><strong>MEMBERSHIP BENEFITS</strong></p>
        <ul>
          <li>Twennie provides fast-tracked learning relevant to your future.</li>
          <li>Free membership for career development through micro-courses, templates, and articles.</li>
          <li>Contributor Membership allows sharing ideas, honing soft skills, and gaining recognition.</li>
          <li>Create an online record and testimonial for your work to share with prospective employers.</li>
        </ul>
        <p>
          Are you a writer? A coach? A videographer? A graphic designer? A trainer? A Contributor Membership enables you to develop these skills further, practice, and share learning with other professionals.
        </p>
      </div>
    </div>
  </div>
</div>