{{#*inline "title"}}Soft Skills in Technical Environments | Twennie{{/inline}}
<div class="topic-page-wrapper">
  <div class="topic-main-area">
    <div class="topic-header">

      {{!-- Left Side of Topic Header --}}
      <div>
        <h1 class="topic-title">Soft Skills in Technical Environments</h1>
        <a href="/bytopic/Soft Skills in Technical Environments" class="single-topic-resource-btn">
          <button class="topic-resource-btn">TWENNIE'S RESOURCES ON THIS TOPIC</button>
        </a>
      </div>

      <!-- Mobile Sidebar Toggle Button (Right Side of Topic Header) -->
      <div class="more-topics">
        <p>More Topics</p>
        <ion-icon name="newspaper-outline" id="mobile-sidebar-btn"></ion-icon>
      </div>

    </div>

    <!-- Subtopics Partial -->
    {{> topicpartials/softskills_topic }}


  </div>

 {{> topicpartials/topics_column_partial}}
</div>